.login{
    margin-left: 40%;
  }
  
  .logout{
    margin-left: 80%;
    margin-top: 1%;
    width: 30%;
  }
  .button {
    background: #4e35f1;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }